

*
{
    box-sizing: border-box;
}

.hidden
{
    display: none;
}

#map_wrapper
{
    height: 400px;
}

#map_canvas
{
    height: 100%;
}

#forecast_container
{
    font-size: 10px;
}

.background-gradient
{
    background-color: rgba(0, 0, 0, 0.23);
}

.background
{
    width: 100%;
    position: relative;
    background-image: 
	    linear-gradient(
	      rgba(0, 0, 0, 0.5),
	      rgba(0, 0, 0, 0.5)
	    ),
	    url('jeremy-bishop-226288.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
}

.header
{
    width: 325px;
    padding-left: 7px;
}

.selector
{
    width: 200px;
    height: 30px;
    background-color: #ffffff;
}

.light-text
{
}

