

*
{
    box-sizing: border-box;
}

.hidden
{
    display: none;
}

#map_wrapper
{
    height: 400px;
}

#map_canvas
{
    height: 100%;
}

#forecast_container
{
    font-size: 10px;
}

.background
{
    width: 100%;
    position: fixed;
    background-image: url('jeremy-bishop-226288.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
}

.header
{
    width: 325px;
    padding-left: 7px;
}

.selector
{
    width: 200px;
    height: 30px;
    background-color: #ffffff;
}

.light-text
{
}

.blur
{
    border-radius: 4px;
    background-color: rgba(201, 197, 197, 0.33);
}

