

*
{
    box-sizing: border-box;
    color: #ffffff;
}

.hidden
{
    display: none;
}

#map_wrapper
{
    height: 400px;
}

#map_canvas
{
    height: 100%;
}

#forecast_container
{
    font-size: 15px;
}

@media (min-width:480px)
{
    .background
    {
        background-image: linear-gradient(
	      rgba(0, 0, 0, 0.5),
	      rgba(0, 0, 0, 0.5)
	    ),
	    url('jeremy-bishop-226288.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
}

.selector
{
    width: 200px;
    height: 30px;
    background-color: #ffffff;
    color: #878787;
    margin-bottom: 5px;
}

.white-text
{
    color: #ffffff;
}

.black-text
{
    color: black;
}

.button
{
    height: 30px;
    width: 50px;
    color: #000000;
    border-radius: 3px;
    background-color: #91edd1;
}

@media (max-width:479px)
{
    .mobile-background
    {
        background-image: linear-gradient(
		      rgba(0, 0, 0, 0.5),
		      rgba(0, 0, 0, 0.5)
		    ),
		    url('news-170503-1-1-Sea-Shepherd-beer-1-1000h.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
    .background-small
    {
        background-image: url('news-170503-1-1-Sea-Shepherd-beer-1-1000h.jpg');
        width: 100%;
    }
}

.form
{
    padding-left: 15px;
    display: block;
}

.light-blue
{
    color: #91edd1;
}

@media (min-width:480px)
{
    .big-header
    {
        font-size: 100px;
    }
    .big-subheader
    {
        font-size: 70px;
    }
    .big-results-title
    {
        font-size: 50px;
    }
}

